body {
	background-color: rgba(0, 0, 0, 0); background-repeate: no-repeat;
}

b, u, i, del, a {
	margin-right: 0;
	padding: 0;
	border: 0;
}
p#pivotline {
	color: rgba(206, 202, 211, 1);
}
a:hover {
	cursor: pointer;
}

div#main {
	margin: auto;
	width: 80%;
	max-width: 960px;
	margin-top: 50px;
	/* margin-left: 200px;
	margin-right: 200px; */
}

div#title {

}

select#sub{
	width: 200px;
	padding: .4em .5em;
}

div#mainForm{
	margin-top: 10px;
	display: block;
	border: 1px solid rgba(206, 202, 211, 1);
	border-radius: 15px;
	padding: 20px;
	height: auto;
}

input#titlebox[type="text"]{
	width: 100%;
	border: 1px solid #B3ABBA;
	font-size: 15pt;
	padding: 0;
}

div#subForm{
	height: 400px;
	margin-top: 10px;
	display: block;
}

div#functionForm{
	width: 100%;
	font-size: 20px;
	border-radius: 15px 15px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	display: flex;
	border: 1px solid rgba(206, 202, 211, 1);
	border-bottom: 0;
	height: 10%;
	background-color: rgb(232, 227, 236);
	padding: 0px;
	align-items: center;
}
select#font{
	width: 20%;
	height: 80%;
	padding: 0;
	margin-left: 5px;
}

input#fontsizebox[type="number"]{
	width: 10%;
	height: 60%;
	padding:0;
}

#bold, #italic, #underline, #deline, #color, #left, #center, #right, #highlight, #picture, #video, #link, #quote, #search {
	margin: 5px;
	color: rgb(54, 49, 59);
	height: auto;
}

input#searching[type="text"] {
	width: 18%;
	height: 60%;
	color: #B3ABBA;
	margin-bottom: 5px;
	margin-right: 5px;
}
textarea#postBox{
	width: 100%;
	padding: 0;
	height: 400px;
	border-radius: 15px 15px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-top: 0;
}

div#postSendBar {
	width: 100%;
	height: auto;
	display: flex;
	margin: auto;
	margin-top: 50px;
	margin-bottom: -10px;
	align-items: center;

}

input#postTempStore[type="submit"] {
	float: right;
	font-size: 15px;
	border: 0;
	border-radius: 2px;

	font-family: 'kopub dotum';
	font-weight: bold;
	color: rgb(245, 241, 247);
	background-color: rgb(208, 203, 212);
	margin-right: 10px;
}

input#postSubmit[type="submit"] {
	float: right;
	font-size: 15px;
	border: 0;
	border-radius: 2px;

	font-family: 'kopub dotum';
	font-weight: bold;
	color: rgb(237, 235, 238);
	background-color: rgb(30, 14, 168);
}